<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <!-- Local CSS -->
    <link rel="stylesheet" href="/public/styles.css">
  </head>
  <body>
    <header>
      <h1>
        ISQA_5 - Nasdaq Stock Price Checker
      </h1>
    </header>
    <div id='userstories' style='margin-left: 5%; margin-top: 5%'>
      <a href="https://www.advfn.com/nasdaq/nasdaq.asp" target="_blank">List of NASDAQ companies and symbols.</a>
      <h3>Example usage:</h3>
      <code>/api/stock-prices?stock=goog</code><br>
      <code>/api/stock-prices?stock=goog&amp;stock=msft</code><br>
    </div>
    <hr style='margin: 20px'>
    <div id='testui' style='margin-left: 5%'>
      <h2 >Front-End:</h2>
      <span id="testFormResults"></span>
      <h3>Get Single Price</h3>
      <form id="testForm2" class="border">
        <div class="md-form">
          <input type='text' id='test-form-2-input' name='stock' class="form-control text-dark" required=''' minlength="4" maxlength="4">
          <label class="text-dark" for='test-form-2-input'>Enter NASDAQ Symbol</label>
        </div>
        <button type="submit" class="btn btn-success">Get Price!</button>
      </form>
      <h3>Compare Stocks</h3>
      <form id="testForm" class="border">
        <div class="md-form">
          <input type='text' id='test-form-1-input_1' name='stock' class="form-control text-dark" required=''' minlength="4" maxlength="4">
          <label class="text-dark" for='test-form-1-input_1'>NASDAQ Symbol - Stock 1</label>
        </div>
        <div class="md-form">
          <input type='text' id='test-form-1-input_2' name='stock' class="form-control text-dark" required=''' minlength="4" maxlength="4">
          <label class="text-dark" for='test-form-1-input_2'>NASDAQ Symbol - Stock 2</label>
        </div>
        <button type="submit" class="btn btn-success">Get Price!</button>
      </form>
      <!-- vid -->
      <video class="fg-video-1" autoPlay muted loop>
        <source
          src="https://coding-video.s3.eu-west-2.amazonaws.com/stock-exchange.mp4"
          type="video/mp4"
        />
        Your browser is not supported
      </video>
    </div>
    <hr style='margin-top: 180px'>
    <!-- JQuery -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <!-- Bootstrap tooltips -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
   <!-- Bootstrap core JavaScript -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
   <!-- MDB core JavaScript -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
   <script>
      
      $(function() {

        var items = [];

        // #testForm is the compare boxes (two stocks)
        $('#testForm').submit(function(e) {
          // first delete contents of #testFormResults, and the items array
          items = [];
          $( "#testFormResults" ).empty();
          $.ajax({
            url: '/api/stock-prices',
            type: 'get',
            data: $('#testForm').serialize(),
            success: function(data) {
              console.log(data)

              $.each(data, function(i, val) {
              items.push('<p class="result-title">Stock Data</p><p class="result-item">' + val[0].stock + ' - ' + val[0].price + '</p><p class="result-item">' + val[1].stock + ' - ' + val[1].price + '</p>');
              });

              console.log(items);
              $('#testFormResults').html(items.join(''))
            }
          });
          e.preventDefault();
        });
        $('#testForm2').submit(function(e) {
          items = [];
          $( "#testFormResults" ).empty();
          $.ajax({
            url: '/api/stock-prices',
            type: 'get',
            data: $('#testForm2').serialize(),
            success: function(data) {
              console.log(data)

              $.each(data, function(i, val) {
              items.push('<p class="result-title">Stock Data</p><p class="result-item">' + val.stock + ' - ' + val.price + '</p>');
              $('#testFormResults').html(items.join(''));
              })
            }
          });
          e.preventDefault();
        });
      });
   </script>

  </body>
</html>
